<nav class="navbar">
    <div class="navbar-container">
        <a href="#" class="navbar-logo">ASKME</a>
        
        <ul class="navbar-menu" id="navbarMenu">
            <li class="navbar-item">
                <a href="/" class="navbar-link">Home</a>
            </li>
           
            <% if(isAuthenticated){%>
                <li class="navbar-item">
                    <a href="/logout" class="navbar-link">Logout</a>
                </li> 
          <% }else{  %>
            <li class="navbar-item">
                <a href="/register" class="navbar-link">Register</a>
            </li>
            <li class="navbar-item">
                <a href="/login" class="navbar-link">Login</a>
            </li> 
         <%  } %>     
          
           
        </ul>
        
        <div class="navbar-mobile-toggle" id="mobileToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>